/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');
body{
    font-family: 'Roboto Slab', serif;
    font-family: 'Noto Sans TC', sans-serif;
    cursor:default;
    }
/* layout */
a{text-decoration:none;display:block;color:#707070;}
.unblock{display:none}
.flex{display:flex;}
.header{background:#E5D9CD;}
.content{background:#C1987C;}
.slogan{background:#FAF4EF;}
.footer{background:#707070;}
.main{width:960px;height:100vh;margin:0 auto;padding:10px 0;}
.main_other{width:100%;height:100vh;margin:0 auto;justify-content:center;align-items:center;}
.alink{width:175px;;display:block;border:1px solid #fff;padding:20px;text-align:center;color:#fff;}
.overlay{width:100%;height:100vh;position:fixed;background:rgba(0,0,0,0.7);z-index:98;top:0;left:0;}
.fas{display:none;}
.fa-bars{font-size:26px;}
/* nav */
.nav{justify-content:space-between;margin:0 0 30px 0;}
.function_bar .menu{display:none;}
.function_bar a{padding:20px;}
/* ico */
.ico{display:block;}
.ico_scroll{width:20px;height:20px;border:1px solid #000;}
/* header */
.social_bar .fab{font-size:28px;}
.social_bar li+li{margin:15px 0 0;}
/* footer */
.footer .main{height:auto;padding:0px;justify-content:space-between;}
.footer a{color:#fff;padding:20px 0;}
.footer .social_bar{display:none;}
.footer .message_bar li+li{margin-left:30px;}
/* about_layout */
.about_layout .header{background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 50%, #e5d9cd 50%, #e5d9cd 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff 50%,#e5d9cd 50%,#e5d9cd 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #ffffff 0%,#ffffff 50%,#e5d9cd 50%,#e5d9cd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */}
/* blog_layout */
.blog_layout .main{height:initial;overflow:hidden;}
@media screen and (max-width:1094px){
    .main{width:100%;padding:0px 0px 40px;}
    .nav{padding:15px 20px;background:#fff;position:fixed;z-index:10;width:100%;border-bottom:1px solid #000;justify-content:center;margin:0;}
    .nav .function_box{position:absolute;left:3%;top:calc(50% - 13px);}
    .nav+.contents{padding-top:47px;}
    .fas{display:block;}
    /* function_bar */
    .function_bar{display:none;position:fixed;;width:100%;height:auto;top:0;right:0;z-index:99;background:#fff;}
    .function_bar .menu{display:block;}
    .function_bar li+li{margin-left:0;text-align:center;}
    .function_bar li+li a{padding:10px;border:1px solid #ccc;margin:20px;}
    .function_bar .fa-times{display:block;font-size:30px;margin:0 0 0 10px;width:40px;height:40px;line-height:40px;text-align:center;}
    .menu.active + .function_bar{display:block;}
    /*  content */
    .content .main_other{display:block;height:auto;}
    /* header */
    .social_bar li{width:calc(100% / 3);}
    .social_bar li+li{margin:0 0 0;}
    /* footer */
    .footer{text-align:center;position:relative;bottom:0;width:100%;}
    .footer .flex{display:block;}
    .footer .main{width:100%;}
    .footer .social_bar{display:flex;justify-content:center;}
    .footer .message_bar li+li{margin-left:0px;}
    /* about_layout */
    .about_layout .main{height:auto;padding:0px;}
    /* .about_layout .footer{position:fixed;;bottom:0;width:100%;} */
    /* prod_layout */
    .prod_layout .main{height:auto;}
    .prod_box{display:block;}
}
@media screen and (max-width:1024px){

}