/*  index_layout*/
/* header */
.header .main{position:relative;}
.header_img{width:100%;height:500px;;background:url(../images/index.png)0 0 no-repeat;position:relative;background-position:0px -63px;}
.header_img .img_text{position:absolute;right:20px;bottom:20px;font-size:14px;}
.header_img .img_text li+li{margin-top:20px;}
.header_img .social_bar{position:absolute;right:-7%;top:15%;}
/* .header .scroll{position: absolute;bottom:8%;left:calc(50% - 10px);} */
/* content */
.content_img{width:550px;height:450px;}
.content_text{margin-left:50px;color:#fff;padding:10px 0;}
.content_text .title{font-size:24px;}
.content_text .text,.content_text .ico_bar{margin-top:30px;line-height:1.6;}
.content_text .ico_bar li+li{margin-left:40px;}
.content_text .alink{width:180px;margin-top:50px;color:#fff;}
.content_text .alink .arrow{margin-left:40px;}
/* alink */
.button {--offset:10px;--border-size:1px;display:block;
    position:relative;
    padding:20px 20px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    background: transparent;
    color: #e55743;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    outline: none;
    cursor: pointer;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background 0.8s ease;
  }
  .button:hover {
    background: rgba(100, 0, 0, 0.03);
  }
  .button__horizontal, .button__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform 0.8s ease;
    will-change: transform;
  }
  .button__horizontal::before, .button__vertical::before {
    content: "";
    position: absolute;
    border: inherit;
  }
  .button__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
  }
  .button__horizontal::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--vertical-offset) * -1);
    right: calc(var(--vertical-offset) * -1);
  }
  .button:hover .button__horizontal {
    transform: scaleX(0);
  }
  .button__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
  }
  .button__vertical::before {
    top: calc(var(--horizontal-offset) * -1);
    bottom: calc(var(--horizontal-offset) * -1);
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
  }
  .button:hover .button__vertical {
    transform: scaleY(0);
  }
/* slogan */
.slogan .title{font-size:90px;width:45px;height:45px;margin:0 auto}
.slogan .title span{display:block;transform:translateX(-50px);}
.slogan .main{align-items:center;justify-content:center;}
.slogan .slogan_text{text-align:center;}
.slogan .slogan_text .text{font-size:28px;font-weight:bolder;margin:20px 0 30px;line-height:1.6;padding:0 30px;}
/* about_layout */
.about_layout .background_box{width:750px;height:450px;background:#FAF4EF;position:absolute;top:15%;left:-2%;}
.about_img{width:380px;position:absolute;z-index:10;left:12%;bottom:5%;}
.about_text{width:410px;position:absolute;z-index:10;right:0%;top:20%;color:#48656B;}
.about_text dt{font-size:18px;}
.about_text dd{margin:12px 0;line-height:1.6;}
.about_text .title::after,.about_text .title::before{content:"";width:2px;height:20px;display:inline-block;background:#48656B;vertical-align:middle;margin:-5px 5px 0;}
/* prod_layout */
.prdo_img{width:45%;flex-shrink:0;margin:0px 30px;}
.prod_box{margin-bottom:50px;align-items:center;}
.prod_box .prod_text{padding:0 10px;}
.prod_box .title{margin:0 0 25px 0;font-size:26px;}
.prod_box .text{line-height:1.6;border-bottom: 2px solid #000;padding-bottom:15px;}
.prod_box .intro dt{margin:12px 0 0;font-weight:bolder;}
.prod_box .intro dd{border-bottom:2px solid #707070;padding:8px 0 12px 0;line-height:1.4;color:#707070;}
.prod_text .intro dd ul li+li{margin:5px 0 0;}
.prod_box .prod_price{padding:0 10px;margin:10px 0;font-weight:bolder;text-align:right;font-size:18px;letter-spacing:2px;}
.prod_box .buy_way dt{margin:0 0 12px 0;}
.prod_box .buy_way dt::after{content:"：";display:inline-block;}
.prod_box .buy_way a{display:block;padding:10px 0;width:60%;font-weight:bolder;color:#48656B;font-size:18px;}
.prod_box .buy_way a span{font-size:14px;margin-left:8px;}
.prod_box .buy_way a::before{content:" ";display:inline-block;width:2px;height:2px;border-radius:50%;vertical-align:middle;background:#48656B;margin:-2px 8px 0 0;}
.prod_box .buy_way a:hover,.prod_box .sale_link a:hover{background:#48656B;color:#fff;}
.prod_box .sale_link a{width:150px;text-align:center;padding:10px;color:#48656B;float:right;}
.prod_box .sale_link::after{content:"";display:block;clear:both;}
.prod_box .sale_link .fas{display:inline-block;margin-left:6px;}
/* blog_layout */
.timeline:before{content:'';position:absolute;top:6%;left:50%;margin:0 auto;height:91%;width:1px;background-color:#707070;}
.timeline{padding:0 50px 50px;}
.blog_box>li{display:flex;justify-content:space-between;position:relative;align-items:center;height:60vh;margin:60px 0;}
.blog_box .blog_text{text-align:center;width:38%;}
.blog_box .blog_text .title{font-size:24px;font-weight:bolder;}
.blog_box .blog_text p{margin:30px 0;line-height:1.6;letter-spacing:2px;text-align:left;}
.blog_box .blog_img{width:450px;position:absolute;right:6%;}
.blog_box .blog_img a{width:100%;height:100%;}
.blog_box .blog_item_2 .blog_img{left:6%;}
.blog_box .ba_box{width:300px;height:500px;}
.blog_box .blog_item_1 .ba_box{background:#C1987C;}
.blog_box .blog_item_2 .ba_box{background:#FAF4EF;}
.blog_box .blog_item_3 .ba_box{background:#48656B;}
/* sale_layout */
.sale_layout .nav{margin:0 0 30px 0;}
.sale_layout .sale_title{font-size:20px;color:#ff0000;margin-bottom:15px;}
.sale_layout .prod_price span{color:#ff0000;font-weight:bolder;}
@media screen and (max-width:1094px){
    .header_img{width:90%;margin:20px auto 0;background-position: 35% -20px;}
    .header_img .img_text{right:2%;;bottom:0;top:10%;font-weight:bolder;font-size:12px;}
    .header_img .social_bar{display:none;}
    /* index_layout */
    .index_layout .header .main{padding:0 0 20px;height:auto;}
    /* about_layout */
    .about_layout .background_box{display:none;}
    .about_text{background:#FAF4EF;width:100%;position:unset;overflow:auto;padding:20px;}
    .about_img{width:100%;position:unset;}
    .content_img{width:100%;height:auto;}
    .content dl.flex{display:block;}
    .content_text{margin-left:0px;padding:10px 20px;text-align:center;}
    .content_text .text, .content_text .ico_bar{margin-top:24px;}
    .content_text .ico_bar{justify-content:space-around;align-items:center;}
    .content_text .alink{margin:40px auto 30px;}
    /* prod_layout */
    .prdo_img{width:80%;margin:30px auto;}
    .prod_box .prod_text{padding:0 30px;}
    .prod_box .prod_price{text-align:center;border:2px solid #707070;width:70%;margin:25px auto;padding:15px 10px;}
    .prod_box .buy_way{margin-top:30px;}
    .prod_box .buy_way dt{text-align:center;}
    .prod_box .buy_way dt::after{content:"";display:block;width:70px;height:2px;background:#000;margin:10px auto 0;}
    .prod_box .buy_way a::before{display:none;}
    .prod_box .buy_way a,.prod_box .sale_link a{background:#48656B;color:#fff;text-align:center;padding:15px 0;margin:15px auto;width:90%;}
    .prod_box .sale_link a{float:none;width:55%;}
    /* blog_layout */
    .timeline{padding:0 10px;}
    .timeline:before{display:none;}
    .blog_box>li{height:initial;flex-direction:column;padding:35px 10px;margin:0 auto;}
    .blog_box .blog_item_2{flex-direction:column-reverse;}
    .blog_box .blog_img{position:initial;width:90%;}
    .blog_box .ba_box{display:none;}
    .blog_box .blog_text{margin:0 0 20px 0;width:85%;}
    .blog_box .blog_text p{margin:20px 0;}
    .blog_box .blog_text .title{font-size:20px;}
}
@media screen and (min-width:1023px) and (max-width:1025px){
  .about_text{height:42vh;}
}